.tempSearch {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(10px);
    height: 490px;
    min-width: 400px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* top: 30px; */
    /* top: 50%;
    transform: translateY(-50%); */
    left: 30px;
    padding: 30px;
    gap: 20px;
    text-align: center;
    z-index: 200;
    border: 1px solid;

}

.styleInput {
    color: rgb(104, 104, 104);
    height: 40px;
    width: 70%;
    border-radius: 50px;
    outline: none;
    padding: 10px;
    border: 3px solid rgba(94, 94, 94, 0.592);
}

.capitals {
    color: rgba(255, 255, 255, 0.668);
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}


.saveData {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.371);
    color: white;
    font-weight: 400;
    border-radius: 10px;
    overflow: hidden;
}

.mainflex {
    background-size: cover;
    height: 100vh;
    background-position: center;

}

.flexsite {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

@media screen and (max-width:1097px) {
    .savingdata {
        flex-direction: row;
        flex-wrap: wrap;
        width: 305px;
        height: 635px;
        overflow: auto;
    }
}

@media screen and (max-width:760px) {
    .flexsite {
        flex-wrap: wrap;

    }
    .savingdata{
        margin-top: 40px;
        flex-direction: column;
        width: 100%;
        height: 150px;
    }
}
@media screen and (max-width:760px) {
    .flexsite {
        flex-wrap: wrap;

    }
    .savingdata{
    
       
    }
}