.mainBackG {
    /* background-image: url(https://pics.freeartbackgrounds.com/Rural_Meadow_Landscape_Background-900.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.shadow{
    position: relative;
    background-color: rgba(0, 0, 0, 0.484);
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
}